* {
    /* sets the border for the entire application boundary */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* sets the background colour for the body element of the application, colour d9dcd6 (light grey) */
    background-color: #d9dcd6;
}

.header {
    /* sets the header box padding and colour. Also sets the font for the Horiseon text within Header */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
  
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    /* sets the different colour font for the "seo" portion of "Horiseon" within the header */
    color: #d9dcd6;
}

.header div {
    /* sets the positioning (padding, margin size & float right) of the three links within the header, to ensure they are positioned to the right hand side*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    /* sets the colour of the three links within the header. Text decoration:none removes the hyperlink underscore */
    color: #ffffff;
    text-decoration: none;
}

.hero {
    /* includes background image and ensures the height is absoulute height of 800px and width is relative to screen (100%) and is therefore adaptive */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

p {
    /* sets the font size for all the paragraph elements to 16px */
    font-size: 16px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    /* sets the benefits section size, position and colour, including the font  */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    /* text position for heading 3 (Lead) */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    /* text position for heading 3 (Brand) */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    /* text position for heading 3 (Cost) */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    /* image displayed on new line and takes up entire width of block */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    /* image displayed on new line and takes up entire width of block */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    /* image displayed on new line and takes up entire width of block */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    /* restricts the height of image for SEO */
    max-height: 200px;
}

.online-reputation-management img {
    /* restricts the height of image for Online Reputational Management */
    max-height: 200px;
}

.social-media-marketing img {
    /* restricts the height of image for Social Media Marketing */
    max-height: 200px;
}

.search-engine-optimization h2 {
    /* font size and positioning for heading 2 for SEO header, and spacing (margin) between heading and paragraph below */
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    /* font size and positioning for heading 2 for Online Reputational Management header, and spacing (margin) between heading and paragraph below */
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    /* font size and positioning for heading 2 for Socia Media Marketing header, and spacing (margin) between heading and paragraph below */
    margin-bottom: 20px;
    font-size: 36px;
}
